## Data Mining and Machine Learning
## Edgar Acuna
### February 2020
## Imputation III. Mean/median/mode and k-nn imputation
### Datasets: Titanic, Breastw y Segment

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing  import LabelEncoder

In [2]:
#Ejemplo1. Leyendo los datos de Titanic
titanic=pd.read_csv('https://raw.githubusercontent.com/eacunafer/DataAnalysiswithPython3/master/Datasets/titanic.csv',header=0,sep=',',na_values='')
titanic.info()
titanic.head(39)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Name           1309 non-null object
Sex            1309 non-null object
Age            1046 non-null float64
SibSp          1309 non-null int64
Parch          1309 non-null int64
Ticket         1309 non-null object
Fare           1308 non-null float64
Cabin          295 non-null object
Embarked       1307 non-null object
Survived       1309 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 122.8+ KB

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0
5,6,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,0
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0
7,8,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,0
8,9,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,1
9,10,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,1
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,1
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1
12,13,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0
13,14,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,0
15,16,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,1
16,17,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,0
17,18,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,1
18,19,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,0
19,20,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,1
20,21,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,0
21,22,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,1
22,23,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,1
23,24,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,1
24,25,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,0
25,26,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,1
26,27,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,0
27,28,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,0
28,29,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,1
29,30,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,0
30,31,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,0
31,32,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,1
32,33,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q,1
33,34,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,0
34,35,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C,0
35,36,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S,0
36,37,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C,1
37,38,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S,0
38,39,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S,0

Deleting columns: PassengerID, Name and cabin(it has a lot of missing values)

In [3]:
titanic1=titanic.iloc[:,[1,3,4,5,6,8,10]]
titanic1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
Pclass      1309 non-null int64
Sex         1309 non-null object
Age         1046 non-null float64
SibSp       1309 non-null int64
Parch       1309 non-null int64
Fare        1308 non-null float64
Embarked    1307 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 71.7+ KB

Hay missings en las variables Age, Fare que son continuas y en Embarked que es categorica

In [10]:
#computing the values to  be used in the imputation
t3=titanic1['Age'].mean()
t6=titanic1['Fare'].mean()
t7=titanic1['Embarked'].mode().iloc[0]

In [11]:
#Performing the imputacion
values = {'Age': t3, 'Fare': t6, 'Embarked': t7}
titanic2=titanic1.fillna(value=values)
titanic2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
Pclass      1309 non-null int64
Sex         1309 non-null object
Age         1309 non-null float64
SibSp       1309 non-null int64
Parch       1309 non-null int64
Fare        1309 non-null float64
Embarked    1309 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 71.7+ KB

Imputando los missing values por la media si el atributo es continuo y por la moda si el atributo es nominal

In [12]:
#Imputando los missing values por la media si el atributo es continuo
#y por la moda si el atributo es nominal
from sklearn.preprocessing import Imputer
from sklearn.base import TransformerMixin

class DataFrameImputer(TransformerMixin):

    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)
X=titanic1
xt = DataFrameImputer().fit_transform(X)

In [13]:
xt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
Pclass      1309 non-null int64
Sex         1309 non-null object
Age         1309 non-null float64
SibSp       1309 non-null int64
Parch       1309 non-null int64
Fare        1309 non-null float64
Embarked    1309 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 71.7+ KB

In [14]:
#Imputando los missing values por la mediana si el atributo es continuo
#y por la moda si el atributo es nominal

class DataFrameImputer(TransformerMixin):

    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].median() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)
X=titanic1
xt = DataFrameImputer().fit_transform(X)
xt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
Pclass      1309 non-null int64
Sex         1309 non-null object
Age         1309 non-null float64
SibSp       1309 non-null int64
Parch       1309 non-null int64
Fare        1309 non-null float64
Embarked    1309 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 71.7+ KB

### IMPUTACION k-nn

In [15]:
#imputando por knn
from sklearn import neighbors

class ImputeLearn(object):
    def __init__(self, mat):
        self.mat = np.array(mat)
        self.mat_isnan = np.isnan(self.mat)
        self.w = np.where(np.isnan(self.mat))

    def impute(self, learner):
        ximp = self.mat.copy()
        for i in np.arange(0, len(self.w[0])):
            n = self.w[0][i] # row where the nan is
            p = self.w[1][i] # column where the nan is
            col_isnan = self.mat_isnan[n, :] # empty columns in row n
            train = np.delete(self.mat, n, axis = 0) # remove row n to obtain a training set
            train_nonan = train[~np.apply_along_axis(np.any, 1, np.isnan(train)), :] # remove rows where there is a nan in the training set
            target = train_nonan[:, p] # vector to be predicted
            feature = train_nonan[:, ~col_isnan] # matrix of predictors
            learn = learner.fit(feature, target) # learner
            ximp[n, p] = learn.predict(self.mat[n, ~col_isnan].reshape(1, -1)) # predict and replace
        
        return(ximp)

### Ejemplo 2. k-nn imputation applied to the  Breast-wisconsin dataset

In [16]:
#Reading the data from the UCI
breastdf=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data",header=None, sep=",",na_values=['?'])
#breastdf=pd.read_csv("c://PW-PR/breast-cancer-wisconsin.data",header=None, sep=",",na_values=['?'])

In [17]:
breastdf.columns=['idx','v1','v2','v3','v4','v5','v6','v7','v8','v9','class']

In [18]:
breastdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
idx      699 non-null int64
v1       699 non-null int64
v2       699 non-null int64
v3       699 non-null int64
v4       699 non-null int64
v5       699 non-null int64
v6       683 non-null float64
v7       699 non-null int64
v8       699 non-null int64
v9       699 non-null int64
class    699 non-null int64
dtypes: float64(1), int64(10)
memory usage: 60.1 KB

In [19]:
breastdf.head()

       idx  v1  v2  v3  v4  v5    v6  v7  v8  v9  class
0  1000025   5   1   1   1   2   1.0   3   1   1      2
1  1002945   5   4   4   5   7  10.0   3   2   1      2
2  1015425   3   1   1   1   2   2.0   3   1   1      2
3  1016277   6   8   8   1   3   4.0   3   7   1      2
4  1017023   4   1   1   3   2   1.0   3   1   1      2

In [20]:
breast1=breastdf.iloc[:,1:11]

In [21]:
breast1.head()

   v1  v2  v3  v4  v5    v6  v7  v8  v9  class
0   5   1   1   1   2   1.0   3   1   1      2
1   5   4   4   5   7  10.0   3   2   1      2
2   3   1   1   1   2   2.0   3   1   1      2
3   6   8   8   1   3   4.0   3   7   1      2
4   4   1   1   3   2   1.0   3   1   1      2

In [22]:
b1=np.array(breast1)

In [23]:
data_imp = ImputeLearn(b1).impute(learner = neighbors.KNeighborsRegressor(n_neighbors = 5))

In [24]:
completo5=pd.DataFrame(data_imp)

In [25]:
completo5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
0    699 non-null float64
1    699 non-null float64
2    699 non-null float64
3    699 non-null float64
4    699 non-null float64
5    699 non-null float64
6    699 non-null float64
7    699 non-null float64
8    699 non-null float64
9    699 non-null float64
dtypes: float64(10)
memory usage: 54.7 KB

#### Ejemplo. Imputacion k-nn a Titanic. Hay que convertir las variables categoticas a numericas porque knn-imputacion solo esta implementada para variables numericas

In [26]:
#Convirtiendo las variables nominales en numericas, debido a que 
#la imputacion knn de python no trabaja con variables mezcladas
#Debe hacerse con cuidado porque el atributo categorico contine missing value y el LabelEncoder 
#puede asignarle un valor en lugar  de ignorarlo
titanic3=titanic1
mask = titanic1.isnull()
titanic1=titanic1.astype(str).apply(LabelEncoder().fit_transform)
titanic1.where(~mask, titanic3)

      Pclass  Sex  Age  SibSp  Parch Fare Embarked
0          2    1   25      1      0  195        2
1          0    0   51      1      0  227        0
2          2    0   32      0      0  225        2
3          0    0   47      1      0  160        2
4          2    1   47      0      0  240        2
5          2    1  NaN      0      0  248        1
6          0    1   72      0      0  156        2
7          2    1   21      3      1   75        2
8          2    0   34      0      2    8        2
9          1    0   13      1      0  117        0
10         2    0   54      1      1   60        2
11         0    0   77      0      0  101        2
12         2    1   22      0      0  240        2
13         2    1   53      1      5  121        2
14         2    0   13      0      0  220        2
15         1    0   73      0      0   58        2
16         2    1   21      4      1  113        1
17         1    1  NaN      0      0   24        2
18         2    0   41      1      0   64        2
19         2    0  NaN      0      0  193        0
20         1    1   47      0      0   96        2
21         1    1   45      0      0   24        2
22         2    0   15      0      0  239        1
23         0    1   35      0      0  134        2
24         2    0   95      3      1   75        2
25         2    0   51      1      5  122        2
26         2    1  NaN      0      0  193        0
27         0    1   20      3      2  103        2
28         2    0  NaN      0      0  222        1
29         2    1  NaN      0      0  224        2
...      ...  ...  ...    ...    ...  ...      ...
1279       2    1   24      0      0  211        1
1280       2    1   79      3      1   75        2
1281       0    1   27      0      0  280        2
1282       0    0   69      0      1  139        2
1283       2    1   12      0      2   71        2
1284       1    1   64      0      0    3        2
1285       2    1   37      3      1   79        2
1286       0    0   18      1      0  178        2
1287       2    1   29      0      0  195        1
1288       0    0   65      1      1  237        0
1289       2    1   25      0      0  212        2
1290       2    1   41      0      0  208        1
1291       0    0   39      0      0   61        2
1292       1    1   51      1      0   74        2
1293       0    0   25      0      1  169        0
1294       0    1   17      0      0  149        2
1295       0    1   59      1      0  106        0
1296       1    1   22      0      0   30        0
1297       1    1   27      1      0    3        2
1298       0    1   68      1      1   78        0
1299       2    0  NaN      0      0  205        1
1300       2    0   38      1      1   27        2
1301       2    0  NaN      0      0  211        1
1302       0    0   50      1      0  278        1
1303       2    0   35      0      0  212        2
1304       2    1  NaN      0      0  240        2
1305       0    0   53      0      0    7        0
1306       2    1   52      0      0  195        2
1307       2    1  NaN      0      0  240        2
1308       2    1  NaN      1      1   80        0

[1309 rows x 7 columns]

In [133]:
titanic3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
Pclass      1309 non-null int64
Sex         1309 non-null object
Age         1046 non-null float64
SibSp       1309 non-null int64
Parch       1309 non-null int64
Fare        1308 non-null float64
Embarked    1307 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 71.7+ KB

In [134]:
b1=np.array(titanic1)

In [135]:
titanic_knnimp=ImputeLearn(b1).impute(learner = neighbors.KNeighborsRegressor(n_neighbors = 5))

In [136]:
completo=pd.DataFrame(titanic_knnimp)
completo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
0    1309 non-null int32
1    1309 non-null int32
2    1309 non-null int32
3    1309 non-null int32
4    1309 non-null int32
5    1309 non-null int32
6    1309 non-null int32
dtypes: int32(7)
memory usage: 35.9 KB

### Example 2. Simulating misising values and  imputing them. Dataset: segment from the UCI

This dataset is an image segmentation database similar to a database already present in the repository 
(Image segmentation database) but in a slightly different form. The instances were drawn randomly from a 
database of 7 outdoor images. 
The images were handsegmented to create a classification for every pixel. Each instance is a 3x3 region.

In [137]:
seg=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/statlog/segment/segment.dat',header=None, delim_whitespace=True)
#seg=seg=pd.read_table('c://PW-PR/segment.dat',header=None, delim_whitespace=True)
seg.columns=['v1','v2','v3','v4','v5','v6','v7','v8','v9','v10','v11','v12','v13','v14','v15','v16','v17','v18','v19','class']

In [138]:
seg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 20 columns):
v1       2310 non-null float64
v2       2310 non-null float64
v3       2310 non-null int64
v4       2310 non-null float64
v5       2310 non-null float64
v6       2310 non-null float64
v7       2310 non-null float64
v8       2310 non-null float64
v9       2310 non-null float64
v10      2310 non-null float64
v11      2310 non-null float64
v12      2310 non-null float64
v13      2310 non-null float64
v14      2310 non-null float64
v15      2310 non-null float64
v16      2310 non-null float64
v17      2310 non-null float64
v18      2310 non-null float64
v19      2310 non-null float64
class    2310 non-null int64
dtypes: float64(18), int64(2)
memory usage: 361.0 KB

Todos las variables de segment son cuantitativas.

In [139]:
#simulando un 5% de celdas missing
import random
seg5=seg.copy()
seg5= seg5.stack().sample(frac=0.95).unstack().reindex(index=seg5.index, columns=seg5.columns)

In [140]:
seg5.head()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,class
0,218.0,178.0,9.0,0.111111,0.0,NaN,0.547722,1.111109,0.544331,59.629630,52.444443,75.222220,51.222220,-21.555555,46.77778,-25.222221,75.222220,0.318996,-2.040554,6.0
1,113.0,NaN,9.0,0.000000,0.0,0.277778,0.250924,0.333333,0.365148,0.888889,0.000000,2.555556,0.111111,-2.666667,5.00000,-2.333333,2.555556,NaN,-2.123254,3.0
2,202.0,NaN,9.0,0.000000,0.0,0.944448,0.772202,1.111112,1.025597,123.037040,NaN,139.777790,117.444440,-33.444443,50.22222,-16.777779,139.777790,0.199347,-2.299918,2.0
3,32.0,173.0,9.0,0.000000,0.0,1.722222,1.781593,9.000000,6.749488,43.592594,39.555557,52.888890,38.333336,-12.111111,27.88889,-15.777778,52.888890,0.266914,-1.998858,6.0
4,61.0,197.0,9.0,0.000000,0.0,1.444444,1.515353,2.611111,1.925463,NaN,44.222220,61.555557,43.000000,NaN,35.88889,-19.777779,61.555557,0.302925,NaN,6.0

In [141]:
seg5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 20 columns):
v1       2193 non-null float64
v2       2197 non-null float64
v3       2198 non-null float64
v4       2199 non-null float64
v5       2201 non-null float64
v6       2190 non-null float64
v7       2194 non-null float64
v8       2194 non-null float64
v9       2176 non-null float64
v10      2202 non-null float64
v11      2194 non-null float64
v12      2181 non-null float64
v13      2201 non-null float64
v14      2200 non-null float64
v15      2209 non-null float64
v16      2208 non-null float64
v17      2167 non-null float64
v18      2200 non-null float64
v19      2180 non-null float64
class    2206 non-null float64
dtypes: float64(20)
memory usage: 361.0 KB

In [142]:
#imputando por la media
seg5.mean=seg5.apply(lambda x: x.fillna(x.mean()),axis=0)

In [143]:
#Imputando por la mediana
seg5.median=seg5.apply(lambda x: x.fillna(x.median()),axis=0)

In [144]:
b1=np.array(seg5)

In [145]:
data_imp = ImputeLearn(b1).impute(learner = neighbors.KNeighborsRegressor(n_neighbors = 5))

In [146]:
completoknn5=pd.DataFrame(data_imp)

In [147]:
completoknn5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 20 columns):
0     2310 non-null float64
1     2310 non-null float64
2     2310 non-null float64
3     2310 non-null float64
4     2310 non-null float64
5     2310 non-null float64
6     2310 non-null float64
7     2310 non-null float64
8     2310 non-null float64
9     2310 non-null float64
10    2310 non-null float64
11    2310 non-null float64
12    2310 non-null float64
13    2310 non-null float64
14    2310 non-null float64
15    2310 non-null float64
16    2310 non-null float64
17    2310 non-null float64
18    2310 non-null float64
19    2310 non-null float64
dtypes: float64(20)
memory usage: 361.0 KB

In [148]:
from sklearn.metrics import mean_squared_error
#Calculando el cuadrado medio del error para imputacion por la media
completo5mean=pd.DataFrame(seg5.mean)
mean_squared_error(seg,completo5mean)

58.298915638568666

In [149]:
#Calculando el cuadrado medio del error para imputacion por la mediana
completo5median=pd.DataFrame(seg5.median)
mean_squared_error(seg,completo5median)

63.134938476300704

In [150]:
#Calculando el cuadrado medio del error para imputacion knn
mean_squared_error(seg,completoknn5)

24.978883500130856

Notice that the best imputation method was k-nn

In [151]:
#simulando un 20% de celdas missing
seg20=seg.copy()
seg20= seg20.stack().sample(frac=0.80).unstack().reindex(index=seg20.index, columns=seg20.columns)
seg20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2310 entries, 0 to 2309
Data columns (total 20 columns):
v1       1842 non-null float64
v2       1879 non-null float64
v3       1836 non-null float64
v4       1849 non-null float64
v5       1800 non-null float64
v6       1844 non-null float64
v7       1818 non-null float64
v8       1837 non-null float64
v9       1850 non-null float64
v10      1865 non-null float64
v11      1851 non-null float64
v12      1875 non-null float64
v13      1843 non-null float64
v14      1832 non-null float64
v15      1878 non-null float64
v16      1862 non-null float64
v17      1852 non-null float64
v18      1822 non-null float64
v19      1890 non-null float64
class    1835 non-null float64
dtypes: float64(20)
memory usage: 361.0 KB

In [152]:
#hallando el numero de filas que tienen missings
sum(seg20.apply(lambda x: sum(x.isnull().values), axis = 1)>0)

2270

In [153]:
#imputando por la media al 20%
seg20.mean=seg20.apply(lambda x: x.fillna(x.mean()),axis=0)
completo20mean=pd.DataFrame(seg20.mean)
mean_squared_error(seg,completo20mean)

299.5524791407553

In [154]:
#imputando por la mediana al 20%
seg20.median=seg20.apply(lambda x: x.fillna(x.median()),axis=0)
completo20median=pd.DataFrame(seg20.median)
mean_squared_error(seg,completo20median)

312.35267514827854

In [155]:
b2=np.array(seg20)

In [156]:
data_imp = ImputeLearn(b2).impute(learner = neighbors.KNeighborsRegressor(n_neighbors = 5))

In [157]:
completoknn20=pd.DataFrame(data_imp)
mean_squared_error(seg,completoknn20)

239.9290347020457

Once again the best imputation method was k-nn